<div class="users-list-container">
  <div class="search-container">
    <mat-form-field class="search-field" appearance="fill">
      <input matInput type="text" [(ngModel)]="searchValue" placeholder="Search" autocomplete="off">
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="create">
      <mat-icon class="add-icon" (click)="addUser()">add</mat-icon>
    </div>
  </div>
  <ul class="list-container" *ngIf="usersList.length">
    <li class="list-item" *ngFor="let item of usersList |  filterBy: ['FN', 'LN', 'STATUS']: searchValue | orderBy: ['FN']">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.FN}} {{item.LN}} <span class="status-chip">{{item.STATUS}}</span>
            </mat-panel-title>
            <mat-icon class="edit-icon" (click)="editUser(item)">edit</mat-icon>
          </mat-expansion-panel-header>
          <div class="user-details" *ngFor="let detail of item |  keyvalue">
            <p *ngIf="detail.key !== 'FN' && detail.key !== 'LN'">
              <span class="key">{{detail.key | ucwords}}</span> --
              <span class="value">{{detail.value | replaceNullWithText : '--'}}</span>
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
  </ul>
</div>
